body {
    background-color: #0a0a0a;
}

.text {
    color: #fff;
    font-size: 12px;
    font-family: monospace;
    text-align: center;
}

.highlight {
    color: rgb(255,135,255);
    font-size: 12px;
    font-family: monospace;
    text-align: center;
}

.title {
    color: rgb(255,135,255);
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    padding-top: 1vh;
}

.separator {
    color: rgb(255,135,255);
    font-size: 20px;
    font-family: monospace;
    text-align: center;
}
