body {
    background-color: #0a0a0a;
}

.text {
    color: #fff;
    font-size: 12px;
    font-family: monospace;
    text-align: center;
}

.separator {
    color: #fff;
    font-size: 16px;
    font-family: monospace;
    text-align: center;
}

.title {
    color: rgb(255,135,255);
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    padding-top: 1vh;
    z-index: 1;
}

.description {
    color: rgb(255,135,255);
    font-size: 17px;
    font-family: monospace;
    text-align: center;
    padding-top: 1vh;
    z-index: 1;
}

span {
    color: #fff;
    text-shadow: .5px .5px #000000;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: monospace;
    font-size: 13px;
    padding: 5px;
}

a:hover {
    color: rgb(255,135,255);
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 5px;
    margin-top: 0px;
    text-align: center;
}